.main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 50px;
}

.create{
    background-color:white;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 2px 3px rgb(192, 188, 188);
    margin-left: 40%;
    border-radius: 10px;
    height: 430px;
    width: 350px;
    padding: 20px;
    margin-top: 80px;
    

}

.bcolor{
    background-color:rgb(233, 252, 233);
    height: 700px;
    width: 100%;
    padding: 20px;
    
    
}

.input{
    height: 30px;
    width: 300px;
    margin-top: 10px;
    margin-left:7px;
    border: 2px,2px,3px;
    background-color: transparent;
    border-radius: 6px;

    

}
.SignUp{
    margin-bottom: 10px;
    margin-left: 30px;
    border: 2px 2px 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px rgb(205, 245, 205);
    background-color: rgb(92, 141, 92);
    height: 30px;
    width: 300px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.gf{
    display: flex;
    justify-content: space-around;
}
.btn{
    background: transparent;
    width: 140px;
    height: 30px;
    font-size: 17px;
    border-radius: 6px;
    border:2px solid rgb(90, 145, 90);
    display: flex;
    justify-content: space-evenly ;
}

.btn:hover{
    background-color: rgb(160, 221, 160);
    cursor: pointer;
}


.acc{
    text-align: center;
}


